# Exercise 2: Data Science Tools and Ecosystem

## Exercise 3: In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4: Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

### Exercise 5: Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit Learn

### Exercise 6: 
| Data Science Tools |
| -------------------|
| Visual Studio Code |
| R Studio |
| Jupyter Notebook |

### Exercise 7: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
7+3

10

### Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
#This will convert 200 minutes to hours by diving by 60
Min = 200
Hr = Min/60
print(Min, " minutes is ", Hr, " hours")

200  minutes is  3.3333333333333335  hours

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* list data science languages
* list data science libraries
* table of Data Science tools

### Exercise 11

## Author: 
Sandesh Nayak